@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
    min-height: 100vh;
  padding: 202px 134px 252px 135px;
  background: #fdf0e9;
  display: flex;
  justify-content: space-between;
}

.container h1 {
  margin-bottom: 30px;
  color: var(--Text_Dark_Accent, #ef6d58);
  font-feature-settings: "clig" off, "liga" off;

  /* H5 */
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.container .text p {
  margin-bottom: 28px;
  width: 370px;
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.container a {
    text-decoration: none;
  color: var(--Text_Dark, #391400);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}
.column-box{
display: flex;
}
.column {
    width: 336px;

  padding: 48px 49px 46px;
  border-radius: 6px 6px 0px 6px;
  border: 1px solid #f3d1bf;
  background: #fff;
  box-shadow: 0px 32px 64px 0px rgba(57, 20, 0, 0.04);
}

.column .box-1 {
    margin-bottom: 41px;
  background-color: #ef6c57;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
    color: var(--Text_Dark_Gray, rgba(57, 20, 0, 0.64));
font-feature-settings: 'clig' off, 'liga' off;

/* Text */
font-family: Epilogue;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 200% */
}
h2{
    margin-bottom: 19px;
    color: var(--Text_Dark, #391400);
font-feature-settings: 'clig' off, 'liga' off;

/* H4 */
font-family: Epilogue;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 32px; /* 133.333% */
}